<main>
  <header>
    <div class="header__wrapper">
      <div class="header__primary">
        <%= image_tag "avatar.jpeg", class: "avatar" %>
        <h1>Erin Galarza</h1>
      </div>

      <h2>Product Designer</h2>
    </div>
  </header>

  <div class="portfolio-container">
    <% projects.each do |project| %>
      <div class="portfolio-item" style="background-image: url(<%= image_path("projects/#{project}") %>);">
      </div>
    <% end %>
  </div>

  <footer>
    <ul class="contact">
      <li>eringalarza[at]gmail.com</li>
      <li>@eringalarza</li>
      <li>medium.com/@eringalarza</li>
    </ul>
  </footer>
</main>
